In [1]:
import pandas as pd

In [2]:
time_range = pd.date_range(start='1/1/2015', end='6/30/2019', freq='d').to_frame(index=False)

In [3]:
time_range.rename(columns={0: 'Time Period'}, inplace=True)

In [4]:
master_artists_list = pd.read_csv('master_artists_list.csv', usecols=['twitter'])

In [5]:
time_range['join_key'] = 0
master_artists_list['join_key'] = 0

In [6]:
artists_time_range = master_artists_list.merge(time_range, how='left', on = 'join_key')
artists_time_range.drop('join_key',1, inplace=True)
artists_time_range.rename(columns={0: 'Time Period'}, inplace=True)

In [7]:
twitter_file = pd.read_csv('twitter_features.csv', usecols=['Twitter_Handle', 'created', 'crowdtangle_score'])

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
twitter_file['created'] = pd.to_datetime(twitter_file['created'])
twitter_file['Created_Day'] = twitter_file.created.dt.floor('d')
twitter_file.head()

  Twitter_Handle             created crowdtangle_score Created_Day
0        1future 2015-09-11 19:24:44              -3.3  2015-09-11
1        1future 2015-09-11 21:42:00             -3.88  2015-09-11
2        1future 2015-09-11 22:33:50             -3.14  2015-09-11
3        1future 2015-09-12 01:14:14             -7.37  2015-09-12
4        1future 2015-09-12 03:29:25              1.17  2015-09-12

In [9]:
df_aggregate = twitter_file.groupby(["Twitter_Handle", 'Created_Day'], as_index=False).agg({"created": "count"})
df_aggregate.rename(columns={'created': 'Posts In Day'}, inplace=True)
df_aggregate.head()

  Twitter_Handle Created_Day  Posts In Day
0        1future  2015-09-11             3
1        1future  2015-09-12             4
2        1future  2015-09-13            11
3        1future  2015-09-14             8
4        1future  2015-09-15             7

In [10]:
df_merged = artists_time_range.merge(df_aggregate, how='left', left_on=['twitter','Time Period'], right_on=['Twitter_Handle','Created_Day'])
df_merged[df_merged['Twitter_Handle'].notnull()]

        twitter Time Period Twitter_Handle Created_Day  Posts In Day
258     shakira  2015-09-16        shakira  2015-09-16           6.0
259     shakira  2015-09-17        shakira  2015-09-17           4.0
260     shakira  2015-09-18        shakira  2015-09-18           4.0
265     shakira  2015-09-23        shakira  2015-09-23           6.0
266     shakira  2015-09-24        shakira  2015-09-24           3.0
267     shakira  2015-09-25        shakira  2015-09-25          10.0
268     shakira  2015-09-26        shakira  2015-09-26           1.0
272     shakira  2015-09-30        shakira  2015-09-30           2.0
273     shakira  2015-10-01        shakira  2015-10-01           1.0
274     shakira  2015-10-02        shakira  2015-10-02           1.0
276     shakira  2015-10-04        shakira  2015-10-04           1.0
277     shakira  2015-10-05        shakira  2015-10-05           5.0
278     shakira  2015-10-06        shakira  2015-10-06           2.0
280     shakira  2015-10-08        shakira  2015-10-08           2.0
281     shakira  2015-10-09        shakira  2015-10-09           2.0
283     shakira  2015-10-11        shakira  2015-10-11           1.0
285     shakira  2015-10-13        shakira  2015-10-13           1.0
287     shakira  2015-10-15        shakira  2015-10-15          12.0
288     shakira  2015-10-16        shakira  2015-10-16           2.0
289     shakira  2015-10-17        shakira  2015-10-17           2.0
290     shakira  2015-10-18        shakira  2015-10-18           2.0
291     shakira  2015-10-19        shakira  2015-10-19           2.0
292     shakira  2015-10-20        shakira  2015-10-20           5.0
294     shakira  2015-10-22        shakira  2015-10-22           2.0
295     shakira  2015-10-23        shakira  2015-10-23           2.0
297     shakira  2015-10-25        shakira  2015-10-25           1.0
299     shakira  2015-10-27        shakira  2015-10-27           1.0
304     shakira  2015-11-01        shakira  2015-11-01           1.0
306     shakira  2015-11-03        shakira  2015-11-03           3.0
307     shakira  2015-11-04        shakira  2015-11-04           3.0
...         ...         ...            ...         ...           ...
213176      sza  2018-09-20            sza  2018-09-20           1.0
213179      sza  2018-09-23            sza  2018-09-23           1.0
213180      sza  2018-09-24            sza  2018-09-24           1.0
213188      sza  2018-10-02            sza  2018-10-02           1.0
213189      sza  2018-10-03            sza  2018-10-03           1.0
213201      sza  2018-10-15            sza  2018-10-15           1.0
213353      sza  2019-03-16            sza  2019-03-16           1.0
213366      sza  2019-03-29            sza  2019-03-29           1.0
213377      sza  2019-04-09            sza  2019-04-09           3.0
213380      sza  2019-04-12            sza  2019-04-12           1.0
213381      sza  2019-04-13            sza  2019-04-13           1.0
213384      sza  2019-04-16            sza  2019-04-16           2.0
213385      sza  2019-04-17            sza  2019-04-17           5.0
213393      sza  2019-04-25            sza  2019-04-25           3.0
213397      sza  2019-04-29            sza  2019-04-29           4.0
213398      sza  2019-04-30            sza  2019-04-30           1.0
213399      sza  2019-05-01            sza  2019-05-01           3.0
213406      sza  2019-05-08            sza  2019-05-08           1.0
213407      sza  2019-05-09            sza  2019-05-09           5.0
213408      sza  2019-05-10            sza  2019-05-10           2.0
213409      sza  2019-05-11            sza  2019-05-11           2.0
213418      sza  2019-05-20            sza  2019-05-20           1.0
213427      sza  2019-05-29            sza  2019-05-29           6.0
213428      sza  2019-05-30            sza  2019-05-30          10.0
213430      sza  2019-06-01            sza  2019-06-01           1.0
213431      sza  2019-06-02            sza  2019-06-02           9.0
213432      sza  2019-06-03            sza  2019-06-03           1.0
213434      sza  2019-06-05            sza  2019-06-05           1.0
213437      sza  2019-06-08            sza  2019-06-08           1.0
213442      sza  2019-06-13            sza  2019-06-13           2.0

[93193 rows x 5 columns]

In [11]:
df_merged['Posts In Day'] = df_merged['Posts In Day'].fillna(0)

In [12]:
df_merged.head()

   twitter Time Period Twitter_Handle Created_Day  Posts In Day
0  shakira  2015-01-01            NaN         NaT           0.0
1  shakira  2015-01-02            NaN         NaT           0.0
2  shakira  2015-01-03            NaN         NaT           0.0
3  shakira  2015-01-04            NaN         NaT           0.0
4  shakira  2015-01-05            NaN         NaT           0.0

In [13]:
df_merged['last_7_days'] = df_merged[['Posts In Day']].groupby(df_merged['twitter']).apply(lambda g: g.rolling(7, min_periods=1).sum())
df_merged['last_30_days'] = df_merged[['Posts In Day']].groupby(df_merged['twitter']).apply(lambda g: g.rolling(30, min_periods=1).sum())

In [14]:
df_merged.head()

,twitter,Time Period,Twitter_Handle,Created_Day,Posts In Day,last_7_days,last_30_days
0,shakira,2015-01-01,NaN,NaT,0.0,0.0,0.0
1,shakira,2015-01-02,NaN,NaT,0.0,0.0,0.0
2,shakira,2015-01-03,NaN,NaT,0.0,0.0,0.0
3,shakira,2015-01-04,NaN,NaT,0.0,0.0,0.0
4,shakira,2015-01-05,NaN,NaT,0.0,0.0,0.0

In [15]:
df_merged[df_merged['Twitter_Handle'].notnull()]

,twitter,Time Period,Twitter_Handle,Created_Day,Posts In Day,last_7_days,last_30_days
258,shakira,2015-09-16,shakira,2015-09-16,6.0,6.0,6.0
259,shakira,2015-09-17,shakira,2015-09-17,4.0,10.0,10.0
260,shakira,2015-09-18,shakira,2015-09-18,4.0,14.0,14.0
265,shakira,2015-09-23,shakira,2015-09-23,6.0,14.0,20.0
266,shakira,2015-09-24,shakira,2015-09-24,3.0,13.0,23.0
267,shakira,2015-09-25,shakira,2015-09-25,10.0,19.0,33.0
268,shakira,2015-09-26,shakira,2015-09-26,1.0,20.0,34.0
272,shakira,2015-09-30,shakira,2015-09-30,2.0,16.0,36.0
273,shakira,2015-10-01,shakira,2015-10-01,1.0,14.0,37.0
274,shakira,2015-10-02,shakira,2015-10-02,1.0,5.0,38.0
276,shakira,2015-10-04,shakira,2015-10-04,1.0,5.0,39.0
277,shakira,2015-10-05,shakira,2015-10-05,5.0,10.0,44.0
278,shakira,2015-10-06,shakira,2015-10-06,2.0,12.0,46.0
280,shakira,2015-10-08,shakira,2015-10-08,2.0,11.0,48.0
281,shakira,2015-10-09,shakira,2015-10-09,2.0,12.0,50.0
283,shakira,2015-10-11,shakira,2015-10-11,1.0,12.0,51.0
285,shakira,2015-10-13,shakira,2015-10-13,1.0,6.0,52.0
287,shakira,2015-10-15,shakira,2015-10-15,12.0,16.0,64.0
288,shakira,2015-10-16,shakira,2015-10-16,2.0,16.0,60.0
289,shakira,2015-10-17,shakira,2015-10-17,2.0,18.0,58.0
290,shakira,2015-10-18,shakira,2015-10-18,2.0,19.0,56.0
291,shakira,2015-10-19,shakira,2015-10-19,2.0,21.0,58.0
292,shakira,2015-10-20,shakira,2015-10-20,5.0,25.0,63.0
294,shakira,2015-10-22,shakira,2015-10-22,2.0,15.0,65.0
295,shakira,2015-10-23,shakira,2015-10-23,2.0,15.0,61.0
297,shakira,2015-10-25,shakira,2015-10-25,1.0,12.0,49.0
299,shakira,2015-10-27,shakira,2015-10-27,1.0,6.0,49.0
304,shakira,2015-11-01,shakira,2015-11-01,1.0,2.0,46.0
306,shakira,2015-11-03,shakira,2015-11-03,3.0,4.0,48.0
307,shakira,2015-11-04,shakira,2015-11-04,3.0,7.0,46.0
...,...,...,...,...,...,...,...
213176,sza,2018-09-20,sza,2018-09-20,1.0,3.0,36.0
213179,sza,2018-09-23,sza,2018-09-23,1.0,4.0,36.0
213180,sza,2018-09-24,sza,2018-09-24,1.0,5.0,37.0
213188,sza,2018-10-02,sza,2018-10-02,1.0,1.0,11.0
213189,sza,2018-10-03,sza,2018-10-03,1.0,2.0,10.0
213201,sza,2018-10-15,sza,2018-10-15,1.0,1.0,8.0
213353,sza,2019-03-16,sza,2019-03-16,1.0,1.0,1.0
213366,sza,2019-03-29,sza,2019-03-29,1.0,1.0,2.0
213377,sza,2019-04-09,sza,2019-04-09,3.0,3.0,5.0
213380,sza,2019-04-12,sza,2019-04-12,1.0,4.0,6.0
213381,sza,2019-04-13,sza,2019-04-13,1.0,5.0,7.0
213384,sza,2019-04-16,sza,2019-04-16,2.0,4.0,8.0
213385,sza,2019-04-17,sza,2019-04-17,5.0,9.0,13.0
213393,sza,2019-04-25,sza,2019-04-25,3.0,3.0,16.0
213397,sza,2019-04-29,sza,2019-04-29,4.0,7.0,19.0
213398,sza,2019-04-30,sza,2019-04-30,1.0,8.0,20.0
213399,sza,2019-05-01,sza,2019-05-01,3.0,11.0,23.0
213406,sza,2019-05-08,sza,2019-05-08,1.0,1.0,24.0
213407,sza,2019-05-09,sza,2019-05-09,5.0,6.0,26.0
213408,sza,2019-05-10,sza,2019-05-10,2.0,8.0,28.0
213409,sza,2019-05-11,sza,2019-05-11,2.0,10.0,30.0
213418,sza,2019-05-20,sza,2019-05-20,1.0,1.0,22.0
213427,sza,2019-05-29,sza,2019-05-29,6.0,6.0,21.0
213428,sza,2019-05-30,sza,2019-05-30,10.0,16.0,30.0
213430,sza,2019-06-01,sza,2019-06-01,1.0,17.0,28.0
213431,sza,2019-06-02,sza,2019-06-02,9.0,26.0,37.0
213432,sza,2019-06-03,sza,2019-06-03,1.0,27.0,38.0
213434,sza,2019-06-05,sza,2019-06-05,1.0,22.0,39.0
213437,sza,2019-06-08,sza,2019-06-08,1.0,12.0,34.0
213442,sza,2019-06-13,sza,2019-06-13,2.0,3.0,32.0

In [16]:
df_merged.to_csv('rollup_twitter.csv')