In [81]:
import glob
import pandas as pd
from collections import Counter
import numpy as np
import time
import datetime

In [82]:
#Read artists master data that will be joined to concatenated list of all social data
artists = pd.read_csv('./July8Data/master_artists_list.csv')

In [83]:
artists.columns

Index(['artist_name', 'age', 'years_active', 'genre_pop', 'genre_rock',
       'genre_hip_hop', 'genre_world_music', 'genre_r_and_b',
       'genre_electronic', 'facebook', 'instagram', 'twitter', 'youtube',
       'musicbrainz'],
      dtype='object')

In [84]:
artists['artist_name']

0                    Shakira
1                    Beyoncé
2             Jennifer Lopez
3                Miley Cyrus
4          Justin Timberlake
5                      Adele
6                Chris Brown
7             Britney Spears
8           Enrique Iglesias
9                    Pitbull
10                    Maluma
11                 Nicky Jam
12                      Pink
13             Avril Lavigne
14             Calvin Harris
15              Romeo Santos
16                      Zayn
17               Alicia Keys
18              Harry Styles
19                     Usher
20              Ricky Martin
21              Mariah Carey
22              Prince Royce
23        Christina Aguilera
24                       Sia
25             Martin Garrix
26                Little Mix
27           Camilla Cabello
28                    Thalia
29             Fifth Harmony
               ...
111                       MØ
112           Gloria Estefan
113    New Kids on the Block
114            Kirk Franklin
115               Snoop Dogg
116               Pentatonix
117        Silvestre Dangond
118               Kane Brown
119                   WizKid
120        Bruce Springsteen
121         The Chainsmokers
122                      SZA
123                    Drake
124               The Weeknd
125                  J. Cole
126               Ed Sheeran
127           Kendrick Lamar
128                   Eminem
129            Ariana Grande
130                   Khalid
131               Kanye West
132          Imagine Dragons
133                  Rihanna
134            Justin Bieber
135               Marshmello
136      Panic! At The Disco
137        Twenty One Pilots
138                    Ozuna
139                 J Balvin
140        Portugal. The Man
Name: artist_name, Length: 141, dtype: object

In [85]:
#Read all social data files in
files = ['./July8Data/twitter_features.csv', './July8Data/youtube_to_combine.csv', './July8Data/facebook_7yrs.csv']

In [86]:
df_list = [pd.read_csv(file) for file in files]
df_list.append(pd.read_pickle('./July8Data/instagram_7yrs_cleaned.pkl'))

C:\Users\oldye\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [87]:
sum = 0
for d in df_list:
    print("num columns", len(d.columns))
    sum+=d.shape[0]
    print(d.shape)
    print(d.columns)

print("number of rows in 4 dataframes: ", sum)

num columns 22
(338345, 22)
Index(['Unnamed: 0', 'Twitter_Handle', 'count_of_followers', 'created',
       'description', 'crowdtangle_score', 'description_length',
       'hashtag_count', 'type_link', 'type_photo', 'type_text', 'type_video',
       'created_12am-6am', 'created_12pm-6pm', 'created_6am-12pm',
       'created_6pm-12am', 'time_since_last_post', 'within_week_release',
       'within_month_release', 'social_engagement_score', 'last_7_days',
       'last_30_days'],
      dtype='object')
num columns 23
(24237, 23)
Index(['Unnamed: 0', 'artist_name', 'count_of_followers', 'created',
       'created_12am-6am', 'created_12pm-6pm', 'created_6am-12pm',
       'created_6pm-12am', 'crowdtangle_score', 'description',
       'description_length', 'hashtag_count', 'last_30_days', 'last_7_days',
       'social_engagement_score', 'time_of_day', 'time_since_last_post',
       'type_link', 'type_photo', 'type_text', 'type_video',
       'within_month_release', 'within_week_release'],
      dtype='object')
num columns 22
(312204, 22)
Index(['Unnamed: 0', 'fb_handle_artist_name', 'created', 'description',
       'crowdtangle_score', 'count_of_followers', 'type_link', 'type_photo',
       'type_text', 'type_video', 'description_length', 'created_12am-6am',
       'created_12pm-6pm', 'created_6am-12pm', 'created_6pm-12am',
       'time_since_last_post', 'hashtag_count', 'within_week_release',
       'within_month_release', 'social_engagement_score', 'last_7_days',
       'last_30_days'],
      dtype='object')
num columns 21
(425000, 21)
Index(['artist_name', 'count_of_followers', 'created', 'description',
       'crowdtangle_score', 'description_length', 'hashtag_count',
       'social_engagement_score', 'type_photo', 'type_video',
       'created_12am-6am', 'created_12pm-6pm', 'created_6am-12pm',
       'created_6pm-12am', 'time_since_last_post', 'type_text', 'type_link',
       'within_week_release', 'within_month_release', 'last_7_days',
       'last_30_days'],
      dtype='object')
number of rows in 4 dataframes:  1099786

In [88]:
df_list[1].columns

Index(['Unnamed: 0', 'artist_name', 'count_of_followers', 'created',
       'created_12am-6am', 'created_12pm-6pm', 'created_6am-12pm',
       'created_6pm-12am', 'crowdtangle_score', 'description',
       'description_length', 'hashtag_count', 'last_30_days', 'last_7_days',
       'social_engagement_score', 'time_of_day', 'time_since_last_post',
       'type_link', 'type_photo', 'type_text', 'type_video',
       'within_month_release', 'within_week_release'],
      dtype='object')

In [89]:
#Temporary fixes for youtube
df_list[1].drop(columns='time_of_day', inplace=True)

In [90]:
#Instagram
df_list[3].reset_index(inplace=True)
df_list[3].rename(columns = {'index': 'Unnamed: 0'}, inplace=True)

In [91]:
#Renaming columns that were not aligned
df_list[2].rename(columns = {'fb_handle_artist_name': 'artist_name'}, inplace=True) #Facebook
df_list[0].rename(columns = {'Twitter_Handle': 'artist_name'}, inplace=True) #Twitter

In [92]:
#Adding Dummy columns to indicate which dataset it is
df_list[0]['Facebook'] = 0
df_list[0]['Instagram'] = 0
df_list[0]['Twitter'] = 1
df_list[0]['Youtube'] = 0

df_list[1]['Facebook'] = 0
df_list[1]['Instagram'] = 0
df_list[1]['Twitter'] = 0
df_list[1]['Youtube'] = 1

df_list[2]['Facebook'] = 1
df_list[2]['Instagram'] = 0
df_list[2]['Twitter'] = 0
df_list[2]['Youtube'] = 0

df_list[3]['Facebook'] = 0
df_list[3]['Instagram'] = 1
df_list[3]['Twitter'] = 0
df_list[3]['Youtube'] = 0

In [93]:
fb = df_list[2].merge(artists, left_on='artist_name', right_on='facebook')
instagram = df_list[3].merge(artists, left_on='artist_name', right_on='instagram')
twitter = df_list[0].merge(artists, left_on='artist_name', right_on='twitter')
yt = df_list[1].merge(artists, left_on='artist_name', right_on='youtube')
socials = [fb, instagram, twitter, yt]

In [94]:
for s in socials:
    print(s.shape)

(312204, 40)
(425000, 40)
(324396, 40)
(18992, 40)

###### Investigation Start

In [95]:
fb_check = df_list[2].merge(artists, how='outer', left_on='artist_name', right_on='facebook')

In [96]:
fb_check.shape

(312205, 40)

In [97]:
#Delta between full outer join and inner join
fb_check.shape[0] - fb.shape[0]

1

In [98]:
fb_diff = pd.concat([fb, fb_check]).drop_duplicates(keep=False)

In [99]:
fb_diff.head()

,Unnamed: 0,artist_name_x,created,description,crowdtangle_score,count_of_followers,type_link,type_photo,type_text,type_video,...,genre_rock,genre_hip_hop,genre_world_music,genre_r_and_b,genre_electronic,facebook,instagram,twitter,youtube,musicbrainz
312204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0.0,0,0.0,kanyeWestPage,kanyew.est,kanyewest,NaN,164f0d73-1234-4e2c-8743-d77bf2191051

In [100]:
#Differences match
fb_diff.shape

(1, 40)

In [101]:
fb_diff2 = fb_diff[['artist_name_x', 'facebook', 'instagram', 'twitter', 'youtube']]

In [102]:
#NOTE: THIS is what was missing originally.  Will be blank if re-run
fb_diff2.groupby('artist_name_x').min()

Empty DataFrame
Columns: [facebook, instagram, twitter, youtube]
Index: []

##### Instagram Check

In [103]:
in_check = df_list[3].merge(artists, how='outer', left_on='artist_name', right_on='instagram')
print(in_check.shape)
#Delta between full outer join and inner join
print(in_check.shape[0] - instagram.shape[0])

in_diff = pd.concat([instagram, in_check]).drop_duplicates(keep=False)

(425002, 40)
2

In [104]:
in_diff.head()

,Unnamed: 0,artist_name_x,count_of_followers,created,description,crowdtangle_score,description_length,hashtag_count,social_engagement_score,type_photo,...,genre_rock,genre_hip_hop,genre_world_music,genre_r_and_b,genre_electronic,facebook,instagram,twitter,youtube,musicbrainz
425000,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,1,0.0,theweeknd,deleted IG account ~Jun7 2019,theweeknd,NaN,c8b03190-306c-4120-bb0b-6f2ebfc06ea9
425001,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0.0,0,0.0,kanyeWestPage,kanyew.est,kanyewest,NaN,164f0d73-1234-4e2c-8743-d77bf2191051

In [105]:
#Differences match
in_diff.shape

(2, 40)

In [106]:
in_diff2 = in_diff[['artist_name_x', 'facebook', 'instagram', 'twitter', 'youtube']]
in_diff2.groupby('artist_name_x').min()

Empty DataFrame
Columns: [facebook, instagram, twitter, youtube]
Index: []

In [110]:
#Twitter
in_check = df_list[0].merge(artists, how='outer', left_on='artist_name', right_on='twitter')
print(in_check.shape)
#Delta between full outer join and inner join
print(in_check.shape[0] - twitter.shape[0])

in_diff = pd.concat([twitter, in_check]).drop_duplicates(keep=False)

(338345, 40)
13949

In [111]:
in_diff.head()

,Unnamed: 0,artist_name_x,count_of_followers,created,description,crowdtangle_score,description_length,hashtag_count,type_link,type_photo,...,genre_rock,genre_hip_hop,genre_world_music,genre_r_and_b,genre_electronic,facebook,instagram,twitter,youtube,musicbrainz
12552,12552,BradPaisley,3658840.0,2015-09-11 22:00:57,"Happy Birthday young man, @Ludacris",-2.52,35,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12553,12553,BradPaisley,3658840.0,2015-09-11 22:50:54,"So, @Baylor, as you see my crew on campus toda...",-1.64,133,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12554,12554,BradPaisley,3658840.0,2015-09-11 23:53:16,Hoping I can follow @mrBobbyBones tonight. Ner...,-1.1,64,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12555,12555,BradPaisley,3658840.0,2015-09-12 00:36:23,Pass. RT @HercFamily5: @mrBobbyBones you shoul...,-6.29,106,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12556,12556,BradPaisley,3658840.0,2015-09-12 03:34:10,You @Baylor Bears were fantastic tonight! #Cou...,-1.33,93,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
#Differences match
in_diff.shape

(13949, 40)

In [113]:
in_diff2 = in_diff[['artist_name_x', 'facebook', 'instagram', 'twitter', 'youtube']]
in_diff2.groupby('artist_name_x').min()

                 facebook  instagram  twitter  youtube
artist_name_x
BradPaisley           NaN        NaN      NaN      NaN
ChrisYoungMusic       NaN        NaN      NaN      NaN
TheTimMcGraw          NaN        NaN      NaN      NaN
WillieNelson          NaN        NaN      NaN      NaN
carlosvives           NaN        NaN      NaN      NaN
lukecombs             NaN        NaN      NaN      NaN
mirandalambert        NaN        NaN      NaN      NaN

In [117]:
#Youtube
in_check = df_list[1].merge(artists, how='outer', left_on='artist_name', right_on='youtube')
print(in_check.shape)
#Delta between full outer join and inner join
print(in_check.shape[0] - yt.shape[0])

in_diff = pd.concat([yt, in_check]).drop_duplicates(keep=False)

(24262, 40)
5270

In [118]:
in_diff.head()

,Unnamed: 0,artist_name_x,count_of_followers,created,created_12am-6am,created_12pm-6pm,created_6am-12pm,created_6pm-12am,crowdtangle_score,description,...,genre_rock,genre_hip_hop,genre_world_music,genre_r_and_b,genre_electronic,facebook,instagram,twitter,youtube,musicbrainz
0,0.0,Ariana Grande,0.0,2012-07-27 14:35:00,0.0,1.0,0.0,0.0,0.0,Ariana Grande - Die In Your Arms cover (Justin...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Ariana Grande,0.0,2012-07-27 14:35:00,0.0,1.0,0.0,0.0,0.0,Take care preview.. Leon Thomas III feat Arian...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Ariana Grande,0.0,2012-07-27 14:35:00,0.0,1.0,0.0,0.0,0.0,"""Chestnuts"" Merry Christmas! Love, Ari and Liz",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Ariana Grande,0.0,2012-07-27 14:35:00,0.0,1.0,0.0,0.0,0.0,Born This Way / Express Yourself - Ariana Gran...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Ariana Grande,0.0,2012-07-27 14:35:01,0.0,1.0,0.0,0.0,0.0,"""There's Hope""- Ariana Grande",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
#Differences match
in_diff.shape

(5270, 40)

In [120]:
in_diff2 = in_diff[['artist_name_x', 'facebook', 'instagram', 'twitter', 'youtube']]
in_diff2.groupby('artist_name_x').min()

                     facebook  instagram  twitter  youtube
artist_name_x
Ariana Grande             NaN        NaN      NaN      NaN
BRADPAISLEY               NaN        NaN      NaN      NaN
Carlos Vives              NaN        NaN      NaN      NaN
Chris Young               NaN        NaN      NaN      NaN
Drake                     NaN        NaN      NaN      NaN
Ed Sheeran                NaN        NaN      NaN      NaN
Eminem                    NaN        NaN      NaN      NaN
Imagine Dragons           NaN        NaN      NaN      NaN
J Balvin                  NaN        NaN      NaN      NaN
J. Cole                   NaN        NaN      NaN      NaN
Justin Bieber             NaN        NaN      NaN      NaN
Kendrick Lamar            NaN        NaN      NaN      NaN
Khalid                    NaN        NaN      NaN      NaN
Luke Combs                NaN        NaN      NaN      NaN
Marshmello                NaN        NaN      NaN      NaN
Miranda Lambert           NaN        NaN      NaN      NaN
Ozuna                     NaN        NaN      NaN      NaN
Panic! At The Disco       NaN        NaN      NaN      NaN
Portugal. The Man         NaN        NaN      NaN      NaN
Rihanna                   NaN        NaN      NaN      NaN
The Weeknd                NaN        NaN      NaN      NaN
Tim McGraw                NaN        NaN      NaN      NaN
Twenty One Pilots         NaN        NaN      NaN      NaN
WillieNelson              NaN        NaN      NaN      NaN

###### investigation stop

In [107]:
df = pd.concat(socials)
df.drop('Unnamed: 0',axis=1,inplace=True)

C:\Users\oldye\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [108]:
df.sample(10).T

,35272,373344,226934,49426,249886,375188,254502,311794,294510,240031
Facebook,1,0,1,1,0,0,1,1,0,0
Instagram,0,1,0,0,0,1,0,0,0,1
Twitter,0,0,0,0,1,0,0,0,1,0
Youtube,0,0,0,0,0,0,0,0,0,0
age,30,47,23,34,25,47,38,26,21,46
artist_name_x,G.Eazy,snoopdogg,luiscoronelmusic,JBalvinOficial,maluma,snoopdogg,pitbull,zayn,thegreatkhalid,maxwell
artist_name_y,G-Eazy,Snoop Dogg,Luis Coronel,J Balvin,Maluma,Snoop Dogg,Pitbull,Zayn,Khalid,Maxwell
count_of_followers,NaN,2.58676e+07,5.7116e+06,1.32345e+07,3.15304e+06,2.86665e+07,NaN,1.97504e+07,95566,NaN
created,2014-07-29 01:05:56,2018-08-04 01:31:41,2017-11-22 17:20:22,2015-08-11 22:23:23,2016-09-04 21:30:11,2018-11-25 00:43:46,2013-02-02 12:12:44,2016-12-08 23:28:07,2017-03-05 06:40:42,2013-08-16 10:38:26
created_12am-6am,1,1,0,0,0,1,0,0,0,0
created_12pm-6pm,0,0,1,0,0,0,1,0,0,0
created_6am-12pm,0,0,0,0,0,0,0,0,1,1
created_6pm-12am,0,0,0,1,1,0,0,1,0,0
crowdtangle_score,1.17,1.03,3.46,-3.23,1.35,-3.22,2.21,4.38,13.51,-1.61
description,I feel like droppin some new shit tomorrow tha...,nan,Como cuando te dicen que hoy toca comer tacos 😍,¡#Miami! Quieren conocer a J Balvin y presenta...,Mi canción favorita del disco #PBDB ☝🏻️#VueloH...,nan,lets play a game.... ;) http://bit.ly/U8zjJR,#IDONTWANNALIVEFOREVER Taylor Swift Fifty Shad...,Shut yo ass up https://twitter.com/markf896680...,S O U T H A F R I C A
description_length,83,3,47,553,133,3,44,81,74,21
facebook,G.Eazy,snoopdogg,luiscoronelmusic,JBalvinOficial,MALUMAMUSIK,snoopdogg,pitbull,zayn,thegreatkhalid,Maxwell
genre_electronic,0,0,0,0,0,0,0,0,0,0
genre_hip_hop,1,1,0,0,1,1,1,0,0,0
genre_pop,0,0,0,0,0,0,0,0,0,0
genre_r_and_b,0,0,0,0,1,0,1,1,1,1
genre_rock,0,0,0,0,0,0,0,0,0,0
genre_world_music,0,0,1,1,0,0,0,0,0,0
hashtag_count,0,0,0,4,2,0,0,1,0,0
instagram,g_eazy,snoopdogg,luiscoronelmusic,jbalvin,maluma,snoopdogg,pitbull,zayn,thegr8khalid,maxwell
last_30_days,NaN,456,204,NaN,170,567,NaN,21,495,NaN
last_7_days,NaN,98,45,NaN,48,135,NaN,3,207,NaN
musicbrainz,db48610c-6d8f-4d10-90ca-c4d14bb1a8b1,f90e8b26-9e52-4669-a5c9-e28529c47894,b36d0224-44f0-4059-b8ce-10324eb173dd,5bdeb32d-56a5-4b6d-a768-264101fa0a0a,e8979f75-9110-4df8-ac70-898898d080d1,f90e8b26-9e52-4669-a5c9-e28529c47894,d262ea27-3ffe-40f7-b922-85c42d625e67,985f7e6f-0a7e-4de7-b9ec-a5dac63cb2f7,28737730-ec70-4da5-89c5-77ac13c5c34d,d252cca8-8214-43e5-b81a-101eb4a1447e
social_engagement_score,NaN,0.00236098,0.00157014,0.00258295,0.00148935,0.000604818,NaN,0.00819517,0.0973987,NaN
time_since_last_post,0 days 11:10:38.000000000,0 days 05:06:50,0 days 02:02:21.000000000,0 days 01:43:29.000000000,0 days 00:59:03.000000000,0 days 00:00:02,4 days 01:09:04.000000000,3 days 12:28:06.000000000,0 days 00:00:53.000000000,0 days 04:43:40
twitter,G_Eazy,SnoopDogg,LuisCoronel,JBALVIN,maluma,SnoopDogg,pitbull,zaynmalik,thegreatkhalid,_MAXWELL_
type_link,0,0,0,0,1,0,0,0,1,0
type_photo,0,0,0,1,0,0,1,0,0,1
type_text,1,0,0,0,0,0,0,0,0,0
type_video,0,1,1,0,0,1,0,1,0,0
within_month_release,0,0,0,0,0,0,0,0,0,0
within_week_release,0,0,0,0,0,0,0,0,0,0
years_active,11,28,7,15,9,28,18,9,3,28
youtube,G-Eazy,westfesttv,luis coronel,NaN,Maluma,westfesttv,Pitbull,zayn,NaN,maxwell

In [109]:
print(df.shape)
print("number of rows lost: ", sum - df.shape[0], ", ", (sum - df.shape[0])/sum)

(1080592, 39)
number of rows lost:  19194 ,  0.017452486210953768

In [29]:
df.head(3).T

,0,1,2
Facebook,1,1,1
Instagram,0,0,0
Twitter,0,0,0
Youtube,0,0,0
age,26,26,26
artist_name_x,21Savage,21Savage,21Savage
artist_name_y,21 Savage,21 Savage,21 Savage
count_of_followers,NaN,NaN,NaN
created,2015-05-18 19:24:23,2015-05-25 16:00:00,2015-05-25 22:26:12
created_12am-6am,0,0,0
created_12pm-6pm,0,1,0
created_6am-12pm,0,0,0
created_6pm-12am,1,0,1
crowdtangle_score,-354.2,-16.5,-62.3
description,Slaughter Tape coming 5.25.15,"The Slaughter Tape released May 25, 2015.",s/o The FADER for fuckin wit me http://www.the...
description_length,29,41,107
facebook,21Savage,21Savage,21Savage
genre_blues,0,0,0
genre_country,0,0,0
genre_electronic,0,0,0
genre_folk,0,0,0
genre_hip_hop,1,1,1
genre_jazz,0,0,0
genre_pop,0,0,0
genre_r_and_b,0,0,0
genre_rock,0,0,0
genre_spiritual,0,0,0
genre_world_music,0,0,0
hashtag_count,0,0,0
instagram,21savage,21savage,21savage
last_30_days,NaN,NaN,NaN
last_7_days,NaN,NaN,NaN
musicbrainz,37b2cb82-ef79-4d46-a184-a549450aa231,37b2cb82-ef79-4d46-a184-a549450aa231,37b2cb82-ef79-4d46-a184-a549450aa231
social_engagement_score,NaN,NaN,NaN
time_since_last_post,NaN,6 days 20:35:37.000000000,0 days 06:26:12.000000000
twitter,21savage,21savage,21savage
type_link,0,0,1
type_photo,0,1,0
type_text,1,0,0
type_video,0,0,0
within_month_release,0,0,0
within_week_release,0,0,0
years_active,5,5,5
youtube,21 Savage,21 Savage,21 Savage

In [30]:
# df.to_csv('Combined_Social_Data.csv')

In [31]:
# Filtering outliers in FB data
df = df[~((df['Facebook'] == 1) & (df['social_engagement_score'] > 1))]

In [32]:
# Get the social platform name for each dataframe row
def getSocialPlatform(x):
    if x['Facebook'] == 1:
        return 'Facebook'
    elif x['Instagram'] == 1:
        return 'Instagram'
    elif x['Twitter'] == 1:
        return 'Twitter'
    else:
        return 'Youtube'

In [33]:
# Create social platform column
df['social_platform'] = df.apply(lambda x: getSocialPlatform(x), axis = 1)

In [34]:
# Get the mean & standard deviation of social engagement scores per platform and store the results in 3 dictionaries
dict_platform_mean = df.groupby('social_platform')['social_engagement_score'].mean().to_dict()
dict_platform_std = df.groupby('social_platform')['social_engagement_score'].std().to_dict()

In [35]:
# Normalize the social engagement scores
df['normalized_social_engagement_score'] = df.apply(lambda x: (x['social_engagement_score'] - dict_platform_mean[x['social_platform']]) / dict_platform_std[x['social_platform']],axis=1)

In [36]:
# Reading music Brainz data and removing unwanted column
df_musicbrainz = pd.read_csv("musicbrainz_data.csv")
df_musicbrainz = df_musicbrainz.drop("Unnamed: 0",axis=1)

In [37]:
# Converting the type of release_date to datettime for date comparisons
df_musicbrainz['release_date'] = pd.to_datetime(df_musicbrainz['release_date'])

In [38]:
# Filter the release dates before Jan 1st 2006
df_musicbrainz = df_musicbrainz[df_musicbrainz['release_date'] > datetime.date(2006,1,1)]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [39]:
# Convert master data 'created' column to datetime for date comparisons
df['created'] = pd.to_datetime(df['created'])

In [40]:
artist_dict = df_musicbrainz.groupby('artist_name')['release_date'].apply(list).to_dict()

In [41]:
# Function to find days between 2 datetimes
from datetime import datetime
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [42]:
# Function to find the minimum difference of days w.r.t. all release dates of an artist
def find_min_diff(artist_name,created):
    lst = artist_dict[artist_name]
    min_days = min([days_between(x.strftime('%Y-%m-%d'),created.strftime('%Y-%m-%d')) for x in lst])
    return min_days

In [43]:
# Calculating the number of days to track release
t1 = time.time()
df['num_days_to_track_release'] = df.apply(lambda x: find_min_diff(x['artist_name_y'],x['created']),axis=1)
print("time taken",(time.time() - t1))

time taken 1031.1659190654755

In [44]:
df.head()

,Facebook,Instagram,Twitter,Youtube,age,artist_name_x,artist_name_y,count_of_followers,created,created_12am-6am,...,type_photo,type_text,type_video,within_month_release,within_week_release,years_active,youtube,social_platform,normalized_social_engagement_score,num_days_to_track_release
0,1,0,0,0,26,21Savage,21 Savage,NaN,2015-05-18 19:24:23,0,...,0,1,0,0,0,5,21 Savage,Facebook,NaN,7
1,1,0,0,0,26,21Savage,21 Savage,NaN,2015-05-25 16:00:00,0,...,1,0,0,0,0,5,21 Savage,Facebook,NaN,0
2,1,0,0,0,26,21Savage,21 Savage,NaN,2015-05-25 22:26:12,0,...,0,0,0,0,0,5,21 Savage,Facebook,NaN,0
3,1,0,0,0,26,21Savage,21 Savage,NaN,2015-08-14 16:00:00,0,...,1,0,0,0,0,5,21 Savage,Facebook,NaN,43
4,1,0,0,0,26,21Savage,21 Savage,NaN,2015-09-05 16:00:00,0,...,1,0,0,0,0,5,21 Savage,Facebook,NaN,65

In [45]:
# Saving the dataframe to pickle file
df.to_pickle("Combined_Social_Data_Pickle.pkl")

In [46]:
df.shape

(927351, 47)

In [47]:
df.head()

,Facebook,Instagram,Twitter,Youtube,age,artist_name_x,artist_name_y,count_of_followers,created,created_12am-6am,...,type_photo,type_text,type_video,within_month_release,within_week_release,years_active,youtube,social_platform,normalized_social_engagement_score,num_days_to_track_release
0,1,0,0,0,26,21Savage,21 Savage,NaN,2015-05-18 19:24:23,0,...,0,1,0,0,0,5,21 Savage,Facebook,NaN,7
1,1,0,0,0,26,21Savage,21 Savage,NaN,2015-05-25 16:00:00,0,...,1,0,0,0,0,5,21 Savage,Facebook,NaN,0
2,1,0,0,0,26,21Savage,21 Savage,NaN,2015-05-25 22:26:12,0,...,0,0,0,0,0,5,21 Savage,Facebook,NaN,0
3,1,0,0,0,26,21Savage,21 Savage,NaN,2015-08-14 16:00:00,0,...,1,0,0,0,0,5,21 Savage,Facebook,NaN,43
4,1,0,0,0,26,21Savage,21 Savage,NaN,2015-09-05 16:00:00,0,...,1,0,0,0,0,5,21 Savage,Facebook,NaN,65